In [2]:
# Create your first tuple

tuple1 = ("disco",10,1.2)
tuple1

('disco', 10, 1.2)

In [3]:
#print the type of tuple
type(tuple1)

tuple

In [5]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [9]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [12]:
# use negative index
tuple1[-3]

'disco'

In [15]:
tuple1[-2]

10

In [14]:
tuple1[-1]

1.2

In [16]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [17]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [18]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [19]:
# Get the length of tuple

len(tuple2)

5

In [21]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
Ratings

(0, 9, 6, 5, 10, 8, 9, 6, 2)

In [22]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [23]:
# Create a nest tuple

NT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
NT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [24]:
# Print element on each index

print("Element 0 of Tuple: ", NT[0])
print("Element 1 of Tuple: ", NT[1])
print("Element 2 of Tuple: ", NT[2])
print("Element 3 of Tuple: ", NT[3])
print("Element 4 of Tuple: ", NT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [25]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NT[2][0])
print("Element 2, 1 of Tuple: ",   NT[2][1])
print("Element 3, 0 of Tuple: ",   NT[3][0])
print("Element 3, 1 of Tuple: ",   NT[3][1])
print("Element 4, 0 of Tuple: ",   NT[4][0])
print("Element 4, 1 of Tuple: ",   NT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [28]:
# Print the first element in the second nested tuples

NT[4][1][0]

1

In [29]:
# Print the second element in the second nested tuples

NT[4][1][1]

2