In [7]:
#start wth Python
print("Hello World!")

Hello World!

In [14]:
import sys
print(sys.version)

3.10.2 (main, Apr  9 2022, 20:52:01) [Clang 14.0.0 (https://github.com/llvm/llvm-project 78e87970af888bbbd5652c31f3a8

In [15]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [16]:
# print the type of 2
type(2)

int

In [17]:
#convert 2 as a float
float(2)

2.0

In [18]:
#check type of 2.0
type(float(2))

float

In [19]:
#convert str to int
int('1')

1

In [20]:
#error in this conversion
int('1 or 2 people')

<class 'ValueError'>: invalid literal for int() with base 10: '1 or 2 people'

In [21]:
# int to str
str(10)

'10'

In [22]:
#float to str
str(1.2)

'1.2'

In [23]:
#value true
int(True)

1

In [24]:
#value false
float(False)

0.0

In [25]:
#type of True
type(True)

bool

In [26]:
# type of false
type(False)

bool

In [27]:
#convert 1 to bool
bool(1)

True

In [28]:
# convert 0 to bool
bool(0)

False

In [31]:
#for float value
6/2

3.0

In [32]:
# for integer value
6//2

3

In [33]:
#additional operation expression
43+60+41+16

160

In [34]:
#Name the varuable meaningfully
total_min= 43+42+57 # total length of albums in minutes
total_min

142

In [36]:
# convert minutes into hours
total_hours= total_min/60
total_hours

2.3666666666666667

In [37]:
# total hours in single expression
total_hours= (43+42+57)/60
total_hours

2.3666666666666667

In [40]:
x= 3+2*2
x

7

In [41]:
y= (3+2)*2
y

10

In [42]:
z=x+y
z

17

In [43]:
#string
Name = "Michael Jackson"
Name[0]

'M'

In [44]:
Name[14]

'n'

In [45]:
Name[-1]

'n'

In [46]:
Name[-15]

'M'

In [47]:
Name[0:4]

'Mich'

In [48]:
Name[::2]

'McalJcsn'

In [49]:
Name[0:5:2]

'Mca'

In [50]:
len('Michael Jackson')

15

In [56]:
#combine statements use +
Name = 'Michael Jackson'
statement = Name + ' is the best'
statement

'Michael Jackson is the best'

In [58]:
#to replicate it
3*' Michael Jackson'

' Michael Jackson Michael Jackson Michael Jackson'

In [59]:
#statement in different line
print(' Michael Jackson \n is the best')

 Michael Jackson
 is the best

In [60]:
#\t for tab
print(' Michael Jackson \t is the best')

 Michael Jackson 	 is the best

In [61]:
print(r' Michael Jackson\ is the best')

 Michael Jackson\ is the best

In [65]:
# lowercase to uppercase
A= 'Thriller is the sixth album'
B= A.upper()
B

'THRILLER IS THE SIXTH ALBUM'

In [2]:
# replace michaer to Janet
A= 'Michael Jackson is the best'
B= A. replace('Michael', 'Janet')
B

'Janet Jackson is the best'

In [4]:
Name= 'Michael Jackson'

In [5]:
Name.find('el')

5

In [6]:
Name.find("Jack")

8

In [7]:
Name.find('&*d')

-1

In [10]:
'Hello Mike'.find('Mike')

6